# Python cache
__pycache__/
*.py[cod]

# Virtual envs
.env/
*.venv/

# Streamlit, VSCode, Mac files
.vscode/
.DS_Store

# Ignore only secrets (not the whole .streamlit folder)
# This allows you to commit a config.toml if you want.
.streamlit/secrets.toml

# Ignore root secrets.toml for Render deployment
secrets.toml

# Never commit raw credentials
credentials.json
